:root {
    --ElectricBlue: rgb(0, 123, 255);
    --VibrantOrange: rgb(255, 87, 34);
    --OptimisticYellow: rgb(255, 235, 59);
    --BalancedGreen: rgb(76, 175, 80);
    --SlateGray: rgb(55, 71, 79);
}

/* <uniquifier>: Use a unique and descriptive class name
<weight>: Use a value from 300 to 800 */

* {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  /* font-variation-settings:
    "wdth" 100; */
}

/* <uniquifier>: Use a unique and descriptive class name
<weight>: Use a value from 100 to 900 */

h1, h2, h3, h4, .h1, .h2, .h3, .h4 {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}

body {
    background-color: var(--SlateGray);
}

.bg-grey{
  background-color: var(--SlateGray) !important;
}

.bg-yellow{
  background-color: var(--OptimisticYellow) !important;
}


/* navbar */
.nav-link{
  color:var(--ElectricBlue);
  font-size: 1.8rem;
  margin-left: 20px;
  transition: 0.5s;
}

.nav-link:hover{
  color:var(--VibrantOrange);
  /* text-shadow: 2px 2px 4px var(--BalancedGreen); */
  font-size: 2rem;
  transition: 0.5s;
}

.active{
  color: var(--VibrantOrange) !important; 
  font-weight: bold;
}

.logo {
  width: 80px;
  height: 80px;
}

/* header */
.bg-image{
  background-image: url(./media/blueDragon.jpg);
  background-repeat: repeat;
  background-position: center;
  background-size: cover;
}

.h75 {
  height: 75vh;
}
