:root {
    --ElectricBlue: rgb(0, 123, 255);
    --VibrantOrange: rgb(255, 87, 34);
    --OptimisticYellow: rgb(255, 235, 59);
    --BalancedGreen: rgb(76, 175, 80);
    --SlateGray: rgb(55, 71, 79);
}

/* <uniquifier>: Use a unique and descriptive class name
<weight>: Use a value from 300 to 800 */

* {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  /* font-variation-settings:
    "wdth" 100; */
}

/* <uniquifier>: Use a unique and descriptive class name
<weight>: Use a value from 100 to 900 */

h1, h2, h3, h4, .h1, .h2, .h3, .h4 {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}

body {
    background-color: var(--SlateGray);
}

.bg-grey{
  background-color: var(--SlateGray) !important;
}

.bg-yellow{
  background-color: var(--OptimisticYellow) !important;
}

.bg-yellowt {
  background-color: rgba(255, 235, 59, 0.7);
}

.text-o {
  color: var(--VibrantOrange) !important;
}

.text-b {
  color: var(--ElectricBlue) !important;
}

.text-y{
  color: var(--OptimisticYellow);
}

.text-g{
  color: var(--BalancedGreen);
}

/* navbar */
.nav-link{
  color:var(--ElectricBlue);
  font-size: 1.8rem;
  margin-left: 50px;
  transition: 0.5s;
}

.navbar {
  background-color: rgba(55, 71, 79, 0.86) !important;
  
}

.nav-link:hover{
  color:var(--VibrantOrange);
  font-weight: bold;
  transition: 0.5s;
  
}

.active{
  color: var(--VibrantOrange) !important; 
  font-weight: bold;
}

.logo {
  width: 80px;
  height: 80px;
}

/* header */
.bg-image{
  position: relative;
  height: 100%;
  width: 100%;
  background-image: url(./media/DragonFaceCenter.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  
}

.h100 {
  height: 100vh;
}

.h1-index {
  font-size: 5rem;
  background-color: rgba(55, 71, 79, 0.86);
  padding: 20px;
  border-radius: 40px;
  margin-top: 200px;
  color: var(--VibrantOrange);
  letter-spacing: 10px;
}

.bubblespeech{
  position: absolute;
  top: 80%;
  left: 0%; 
  display: flex;
  justify-content: center;
  align-items: center;
}


.transparent-btn{
  cursor: pointer;
  height: 100px;
  width: 200px; 
  padding: 10px;
  font-weight: bold;
  font-size: 1.5rem;
  border: 2px solid var(--VibrantOrange);
  border-radius: 20px;
  background: none;
  color: var(--VibrantOrange);
  margin-left: 40px;
  margin-right: 40px;

}

.transparent-img{
  opacity: 0.65;
  
}

.centered-p {
  position: absolute;
  top: 42%;
  left: 35%;
  color: var(--VibrantOrange);
  font-size: 1.5rem;
}

/* cards */

.card-index{
  border: 2px solid var(--VibrantOrange);
  height: 500px;
  width: 400px;
  padding:0px;
  transition: 0.5s;

}

.card-index:hover{
  transform: scale(1.15);
  transition: 0.5s;
  z-index: 4;
}

.positioned {
  position: relative;
  top:-80px;
  display: flex;
  justify-content: center;
}

.littlebt {
  width: 100%;
}

.increment{
  font-size: 2rem;
}

.thinker{
  border-radius: 50px;
}

/* SWIPER */
.swiper {
  width: 600px;
  height: 500px;
}

.recensioni{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 500px;
  height: 400px;
  border: 3px solid var(--VibrantOrange);
  border-radius: 20px;
  color: var(--VibrantOrange);
}

.swiper-slide{
  display: flex;
  align-items: center;
  justify-content: center;
}

/* annunci */
.accordion-button{
  background-color: var(--SlateGray);
  color: var(--VibrantOrange);
}

.accordion-button:not(.collapsed){
  background-color: var(--SlateGray);
  color: var(--VibrantOrange);
}

.accordion-body{
  background-color: var(--SlateGray);
  color: var(--OptimisticYellow);
}

.accordion-button::after {
  background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23ff5722'><path fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/></svg>") !important;
}

.card-annunci {
  width: 18rem;
  background-color: var(--BalancedGreen);
  padding: 4px;
  height: 445px;
  
}

.h1-annunci {
  font-size: 5rem;
  color: var(--VibrantOrange);
  letter-spacing: 10px;
}

.samedim{
  width: 100%;
  height: 280px;
}

.reset {
  background-color: var(--SlateGray) !important;
  color: var(--VibrantOrange) !important;
  border: 2px solid var(--VibrantOrange);
  font-size: 1.5rem;
  font-weight: bold;
  width: 100%;
  height: 100px;
  margin-top: 20px;
  border-radius: 30px;
  padding: 0px;
}

.reset:active {
  transform: scale(0.95);
}


@keyframes burning-effect {
  0%, 100% {
    opacity: 1;
    filter: brightness(100%) contrast(100%);
}
50% {
    opacity: 0.6;
    filter: brightness(200%) contrast(150%) drop-shadow(0 0 10px red);
}
}

@media only screen and (max-width: 991px) {
  h1 {
    font-size: 1.5rem;
    margin-top: 50px;
  }
  
  .nav-link {
  font-size: 1.2rem;
  margin-left: 0px;
  }

  .positioned {
    position: relative;
    top:0px;
    padding:0px;
  }
  .card:hover{
    transform: none;
  }
}
